NEXT_PUBLIC_SUPABASE_URL=https://okfemqdtvpuzngwscpvt.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_DB_PASSWORD=
ANTHROPIC_API_KEY=
ZOHO_ORG_ID=719219457
ZOHO_CLIENT_ID=
ZOHO_CLIENT_SECRET=
ZOHO_REFRESH_TOKEN=
CRON_SECRET=
